body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    position: relative;
}

/* Head picture and text */

.head {
    width: 100%; 
    position: relative;
}

.head img {
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: 800;
    font-size: 1.5em;
}

.head a {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 0.875em;
    font-weight: 700;
    text-decoration: none;
}

.head a:hover {
    color: yellow;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Search Bar */

.searchBarDiv {
    display: flex;
    position: absolute;
    top: 92%;
    left: 16%;
}

#search-Input,
#search-Btn {
    padding: 0.5em 0.8125em;
    border: none;
}

#search-Input {
    color: white;
    background: #2E2E2F;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#search-Btn {
    color: white;
    font-size: 0.7em;
    padding: 0.5em 1.5em;
    background: #4B4B4B;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#search-Btn:hover {
    cursor: point;
    background-color: lightgray;
}

/* Main Content */

#iconAndText {
    position: absolute;
    top: 200%;
    left: 35.5%;
    color: #2E2E2F;
    text-align: center;
}

.mainContent {
    position: absolute;
    top: 130%;
    margin: 0 1em;
}

.fa-solid {
    font-size: 4em;
}

.movieContainer {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.moviePoster {
    width: 6.18em;
    height: 9em;
}

.movieTitle {
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    margin: 0.625em 0 0.2em 0;
}

.movieTimeGenreBtn {
    display: flex;
    margin: 0;
}

.movieTimeGenreBtn p {
    color: white;
    margin-right: 0.6em;
    font-size: 0.8em;
    font-weight: 300;
}

#watchlistBtn {
    color: white;
    background-color: #121212;
    border: none;
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#watchlistBtn:hover,
.material-icons:hover {
    color: yellow;
    cursor: pointer;
}

.material-icons {
    font-size: 1em;
    font-weight: 400;
}

.plot {
    font-size: 0.8em;
    color: #A5A5A5;
    font-weight: 300;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}